.homepage-header{
    background-color: #333;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.homepage-h1{
    color: white;
}

#homepage-nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
}

.homepage-nav-elements{
    padding: 10px 20px;
    color: white;
}

#home-about-us{
    display: flex;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    flex-direction: column;
}

#shop-now{
    background-color: #4CAF50;
    color: white;
    border-color:  #4CAF50;
    padding: 10px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: none;
}

.customer-reviews{
    display: flex;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
}

.home-footer{
    display:flex;
    background-color: #333;
    padding: 10px;
    margin: 0;
    color: white;
    justify-content: center;
}

h3{
    color: rgb(168, 9, 168);
    margin-bottom: 0;
}