.homepage-header{
    background-color: #333;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.homepage-h1{
    color: white;
}

p{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#homepage-nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
}

.homepage-nav-elements{
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

#home-about-us{
    display: flex;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    flex-direction: column;
}

#shop-now{
    background-color: #4CAF50;
    color: white;
    border-color:  #4CAF50;
    padding: 10px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.customer-reviews{
    display: flex;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
}

.home-footer{
    display:flex;
    background-color: #333;
    padding: 10px;
    margin: 0;
    color: white;
    justify-content: center;
}

.h3{
    color: Black;
    margin-bottom: 0;
}

#login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

/*form field*/
label {
    display: block;
    margin: 10px;
}


#login-button{
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
    color: white;
    border-color:#4CAF50;
}

#login-button:hover{
    background-color:  #45A049;
    opacity: 1.0;
}

label{
    display: block;
    margin: 10px;
}

#username, #password{
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

#username::placeholder, #password::placeholder {
    color: #aaa;
}

#login-button {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
    color: white;
    border-color: #4CAF50;
}

#login-button:hover {
    background-color: #45A049;
    opacity: 1.0;
}  

#save{
    display:inline-block;
    margin: 10px;
    border: none;
}

#signup-link{
    color: #007BFF;
    margin: 10px;
    text-decoration: none;
}

#signup-link:hover{
    text-decoration: underline;
}

h1{
    color: white;
    text-align: center;
    padding: 1em;

}

h2{
    color: black;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif
}


p{
    text-align: center;
    margin-top: 0;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
}

#h3-products{
    color: black;
    margin-bottom: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}


/* For screens smaller than 768px (tablets and mobile phones) */
@media only screen and (max-width: 768px) {
    .product-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .product {
      width: 45%;
      margin: 10px;
    }
  }
  
  /* For screens larger than 768px (desktop monitors and laptops) */
  @media only screen and (min-width: 769px) {
    .product-container {
      display: flex;
      justify-content: space-around;
    }
  
    .product {
      width: 50%;
      margin: 10px;
    }
  }
  
  .product-container {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 480px;
    height: auto;
    text-align: center;
    height: auto; /* Maintain aspect ratio */

  }
  
  .product img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .product p.price {
    color: #007BFF;
    font-weight: bold;
  }
  
  .product:hover {
    background-color: #ffffff;
  }
  
  .button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;

  }
  
  .button:hover {
    background-color: #45A049;
  }

  .contact-container {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
  }

  .contact-method {
    background-color: #ddd;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}

.contact-method a:hover {
    color: #007BFF;
}