.homepage-header{
    background-color: #333;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.homepage-h1{
    color: white;
}

#homepage-nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
}

.homepage-nav-elements{
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

#home-about-us{
    display: flex;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    flex-direction: column;
}

#shop-now{
    background-color: #4CAF50;
    color: white;
    border-color:  #4CAF50;
    padding: 10px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: none;
}

.customer-reviews{
    display: flex;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
}

.home-footer{
    display:flex;
    background-color: #333;
    padding: 10px;
    margin: 0;
    color: white;
    justify-content: center;
}

h3{
    color: rgb(168, 9, 168);
    margin-bottom: 0;
}

#login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}


#login-button{
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
    color: white;
    border-color:#4CAF50;
}

#login-button:hover{
    background-color:  #45A049;
    opacity: 1.0;
}

label{
    display: block;
    margin: 10px;
}

#username{
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

#password{
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

#save{
    display:inline-block;
    margin: 10px;
    border: none;
}

#signup-link{
    color: #007BFF;
    margin: 10px;
    text-decoration: none;
}

#signup-link:hover{
    text-decoration: underline;
}